
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  width: 450px;
  height: 250px;
  padding: 1.5em;

}

.conten {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}

.img { 
  width: 100px;
  height: 200px;
}

