body{
 margin: auto ;
 padding: auto ;
}
.header{
  font-size: 80px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
}
.showBasket{
  position: relative;
  margin-top: 20px;
}
.productBoxes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 50px;
}
.showBasket{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
